// default
IO_LOC "sysclk_o" F8;
IO_PORT "sysclk_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "soc_pcie_rstn" H15;
IO_PORT "soc_pcie_rstn" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "clk_200m_p" P16;
IO_PORT "clk_200m_p" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=3.3;
// demo: IO_PORT "clk_200m_p" PULL_MODE=UP DRIVE=OFF PULL_STRENGTH=STRONG BANK_VCCIO=3.3;

IO_LOC "clk_50m" L22;
IO_PORT "clk_50m" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=3.3;
